<td>
	<a href="http://www.google.com/maps/search/<%=  (name + "+" + street + "+" + city + "+" + state + "+" + postalCode).replace(/ ./, "+")  %>" class="table__store-link" target="_blank">
		<address>
			<strong style="color:#428bca"><%= name %><br/></strong>
			<%= street %><br/>
			<%= city %>, <%= state %> <%= postalCode %>
		</address>
	</a>
</td>
<td class="table__status">	
	<% if(most_recent_status == null){ %>
		<a class="table__icon-link" ui-icon-link><i class="ion-help-circled"></i><br>
			Update
		</a>
	<% }else{ %> 




			<% if(most_recent_status.working != null) { %>
				<i class="ion-checkmark-circled success"></i>
			<% } else { %>
				<i class="ion-close-circled fail"></i>
			<% } %>

			<br/>

			

			<span style="color:#999999">
				<% if(moment().format("MM/DD/YY") == moment(most_recent_status.status_check_date).format("MM/DD/YY")){ %>
					Today, <%= moment(most_recent_status.status_check_date).format("h:mm a") %>
				<% }else{ %> 
					<%= moment(most_recent_status.status_check_date).format("MM/DD/YY h:mm a") %>
				<% } %>

				<% if(most_recent_status.comment != null){ %>
					<a href="#" ui-comment-link data-toggle="popover" data-content="<%= most_recent_status.comment %>" data-placement="top"><i class="ion-document-text" style="font-size:16px"></i></a>
				<% } %>

				<br/>
			</span>

			<a class="table__icon-link" ui-icon-link>

				Update

			</a>
			
	<% } %>
</td>
